.menu-title {
    cursor: pointer;
    font-weight: bold;
    padding: 20px;
}

.menu-content {
    padding-left: 20px;
}

/* Thème clair */
@media (prefers-color-scheme: light) {
    .menu-title {
        border-bottom: 1px solid #e3e3e4;
    }

    .menu-content {
        background-color: #f6f8fa;
    }
}

/* Thème sombre */
@media (prefers-color-scheme: dark) {

    .menu-title {
        border-bottom: 1px solid #2f3843;
    }

    .menu-content {
        background: #151b23;
    }
}