/* Style commun */
.menu-container {
    margin-bottom: 10px;
}

.menu-title {
    cursor: pointer;
    font-weight: bold;
    padding: 20px;
}

.menu-content {
    /* margin-top: 5px; */
}

/* Thème clair */
@media (prefers-color-scheme: light) {
    .menu-title {
        border-bottom: 1px solid #ccc;
    }

    .menu-content {
        background-color: #f6f8fa;
    }
}

/* Thème sombre */
@media (prefers-color-scheme: dark) {
    .menu-title {
        border-bottom: 1px solid #666;
        /* background-color: #333; */
        /* color: #fff; */
    }

    .menu-content {
        background: rgba(50, 50, 50, 0.8);
    }
}